.nav-font-current {
	font-weight:bold;
}

body{font-family:Tahoma,Verdana,STHeiTi,simsun,sans-serif;}

.left-side-nav-font
{
	color:#293846;
	font-weight:600;
	padding:14px 20px 14px 10px;
	cursor:pointer
	
}

.left-side-nav-font:hover{
	background:#293846;
	color:white;
}

.m-navbar-static-side {
    z-index: 2001;
    position: absolute;
    width: 220px;
}

.m-nav-label{
	
}

.m-chart-card{
	cursor: pointer;
	border:1px dotted white;
}

.m-chart-card:hover{
	border:1px dotted green
}

@media (min-width: 768px){
	.sub-main-view{
		margin: 0 230px 0 0;
		transition:all 0.4s;
	}
}

@media (max-width: 767px){
	.hidden-phone{
		display:none;
	}
	
	.sub-main-view{
		margin: 0 0 0 0;
		transition:all 0.4s;
	}
}

.m-ibox-content {
    background-color: transparent;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 0px 0;
}